h1 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  background-color: #F9FAFC;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}