extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptas quos at alias delectus culpa nam veniam aliquam voluptate commodi reiciendis earum voluptatibus, quae tempore aperiam ullam quisquam accusamus ad?
				span aliquam voluptate commodi reiciendis earum voluptatibus, quae tempore aperiam ullam quisquam accusamus ad?
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1], 'Lorem ipsum dolor sit amet')
			+caja('imagen.png',titulos[2], 'Lorem ipsum dolor sit amet')
			+caja('imagen.png',titulos[3], 'Lorem ipsum dolor sit amet')


